<h1>
  Blogs
</h1>

<ul id="blogs">
  <% @blogs.each do |blog| %>
  <li>
    <article class="Title">
      <%= blog.title %>
    </article>
    <br>
    <article class="Blog">
      <%= blog.content%>
    </article>
    <div class='ranking'>
      <button id="increase" type="button">
        +
      </button>
      <article id="score"></article>
      <button id="decrease" type="button">
        -
      </button>
    </div>
    <br>
    <article class="author">
      <%= blog.user.username %>
    </article>
    <article class="Time">
      <%= blog.time.strftime "%d-%m-%Y %H:%M" %>
    </article>
    <br>
    <article class="Tags">
      <%= blog.tags.map(&:name)%>
    </article>
    <br>
    <article class="Comments">
      <% blog.comments.each do |comment| %>
    <li>
      <%= comment.reply %>
      -
      <%= comment.user.username %>
    </li>
    <% end %>
  </article>
</li>
<article class="comment_box">
  Comment
  <form action="/comments" method="post">
    <input name="id" type="hidden" value="<%= blog.id %>">
    <textarea cols="100" name='reply' rows="2"></textarea>
    <input type="submit" value="Reply">
  </form>
</article>
<% end %>
</ul>
