<h1>
  Blogs
</h1>

<ul id="blogs">
  <% @blogs.each do |blog| %>
  <li>
    <article class="Title">
      <%= blog.title %>
    </article>
    <br>
    <article class="Blog">
      <%= blog.content%>
    </article>
    <br>
    <article class="Time">
      <%= blog.time.strftime "%d-%m-%Y %H:%M" %>
    </article>
    <br>
    <article class="Tags">
      <%= blog.tags.map(&:name)%>
    </article>
    <br>
    <article class="Comments">
      <%= blog.comments.map(&:reply) %>
    </article>
  </li>
  Comment
  <form method="post" action="/comments">
    <input type="hidden" name="id" value="<%= blog.id %>">
    <textarea name='reply' rows="2" cols="170"></textarea>
    <input type="submit" value="Reply">
  </form>
    <br>
    <br>
    <button id="increase" type="button"> UP </button>
    <p id="score"></p>
    <button id="decrease" type="button"> DOWN </button>
    <br>
    <br>
  <% end %>
</ul>
